@import "./constants.css";

.main {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-default);
  border-bottom: 1px solid var(--border-default);
  box-sizing: border-box;
  z-index: var(--z-index-banner);

  /* TODO clean: use Text */
  font-size: var(--text-sm);

  width: 100%;
  max-width: 100%;
  /* TODO clean: use Stack (requires additional paddingX/paddingY props) */
  padding: 1rem 2rem;
}

.warning {
  border-color: var(--border-warning);
  background-color: var(--background-warning);

  /* TODO clean: use Text */
  color: var(--text-warning);
}
