@import "./constants.css";

.main {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-default);
  border-bottom: 1px solid var(--border-default);
  box-sizing: border-box;
  z-index: var(--z-index-banner);
  font-size: var(--text-sm);
  width: 100%;
  max-width: 100%;
  padding: var(--spacing-lg) var(--spacing-xl);
}

.warning {
  border-color: var(--border-warning);
  background-color: var(--background-warning);
  color: var(--text-warning);
}
