.main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  padding: 1rem 2rem;
  background-color: white;
  border-bottom: 1px solid grey;
  box-sizing: border-box;
  z-index: 10;
  font-size: 0.8rem;

  display: flex;
  justify-content: space-between;
}

/* TODO clean: extract warning colors */
.warning {
  --warning-color: rgb(229, 0, 0);
  --warning-background-color: rgb(255, 223, 223) border-color:
    var(--warning-color);
  color: var(--warning-color);
  background-color: var(--warning-background-color);
}

.actions {
  display: flex;
  gap: 0.4rem;
}
