.checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* TODO clean: extract as label style  */
.checkbox-label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: auto;
}
