/* Only use rgb or rgba for colors */
/* Only use rem for sizes */

:root {
  /* Colors (semantic) */
  --background-default: rgb(255, 255, 255);
  --background-secondary: rgb(236, 236, 236);
  --background-warning: rgb(254, 237, 237);
  --background-interaction: rgb(223, 243, 255);
  --background-read-only: rgb(236, 236, 236);
  --background-disabled: rgb(211, 211, 211);
  --background-info: rgb(28, 55, 151);

  --border-default: rgb(128, 128, 128);
  --border-secondary: rgb(211, 211, 211);
  --border-warning: rgb(229, 0, 0);
  --border-interaction: rgb(114, 176, 214);
  --border-read-only: rgb(0, 0, 0);

  --text-secondary: rgb(128, 128, 128);
  --text-knockout: rgb(255, 255, 255);
  --text-warning: rgb(225, 0, 0);
  --text-interaction: rgb(114, 176, 214);

  /* Font size*/
  --text-sm: 0.8rem;
  --text-md: 1rem;
  --title-sm: 1.1rem;
  --title-md: 1.5rem;
  --title-lg: 2.5rem;

  /* Height */
  --height-sm: 1.2rem;
  --height-md: 1.6rem;

  /* Border radius */
  --border-radius-md: 0.2rem;

  /* Z-index */
  /* Base level (for reference) */
  --z-index-0: 1;
  /* Banner */
  --z-index-1: 10;
  /* Tooltip */
  --z-index-2: 20;

  /* Sizes */
  --spacing-xs: 0.2rem;
  --spacing-sm: 0.4rem;
  --spacing-md: 0.8rem;
  --spacing-lg: 1.6rem;
  --spacing-xl: 3.2rem;
}
