@import "./constants.css";

.main {
  width: fit-content;
  border: 1px solid transparent;
  border-radius: 0.2em;
  padding: 1rem 1.5rem;

  border-color: var(--text-warning);
  color: var(--text-warning);
  background-color: var(--background--warning);
}
