@import "./constants.css";

.main {
  width: fit-content;
  border: 1px solid transparent;
  border-radius: var(--border-radius-md);
  padding: var(--spacing-md) var(--spacing-lg);

  border-color: var(--text-warning);
  background-color: var(--background-warning);
}
