@import "./constants.css";

.main {
  height: var(--height);
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-weight: bold;
  color: var(--text-knockout);
  background-color: var(--background-info);
  cursor: pointer;
}

.sm {
  --height: var(--height-sm);
}

.md {
  --height: var(--height-md);
}

.content {
  min-width: 200px;
}
