@import "./constants.css";

.main {
  height: var(--height-md);
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-weight: bold;
  color: var(--text-knockout);
  background-color: var(--background-info);
  cursor: pointer;
}
