@import "./constants.css";

.input {
  /* Reset style */
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  border: none;

  /** Custom style */
  padding: var(--spacing-xs);

  /* Common interaction style */
  background-color: var(--background-interaction);
  border-bottom: 1px solid var(--border-interaction);

  &::placeholder {
    color: var(--text-interaction);
  }
}

.isFullWidth {
  width: 100%;
}
