@import "./constants.css";

/* TODO clean: extract common style */
.input {
  /* Reset style */
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  border: none;

  /* Custom style */
  padding: 0 var(--spacing-xs);
  border: 1px solid transparent;

  height: var(--height-field);

  /* Common interaction style */
  background-color: var(--background-interaction);
  border-bottom: 1px solid var(--border-interaction);

  /* CAUTION: border is counted in the height */
  height: calc(var(--height-field) - 1px);

  &::placeholder {
    color: var(--text-interaction);
  }
}

.md {
  max-width: var(--width-md);
}

.lg {
  max-width: var(--width-lg);
}

/* TODO clean: extract common style */
.isInvalid {
  border-color: var(--border-warning);
}
