.input-number {
  /* Reset style */
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  border: none;

  /* Common style */
  font-family: "body-font";
  font-size: 1rem;
  --background-color: rgb(236, 236, 236);
  --border: 1px solid lightgrey;
  background-color: var(--background-color);
  border-bottom: var(--border);

  /* Custom style */
  padding: 0.2rem 0.5rem;
  border: 1px solid transparent;
}

.input-number--md {
  max-width: 1.2rem;
}

.input-number--lg {
  max-width: 4rem;
}

/* TODO: extract and make common with other inputs */
.input-number--is-invalid {
  border-color: red;
}
