.input-text-area {
  /* Reset style */
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  border: none;

  /** Custom style */
  padding: 1rem 1.4em;
  resize: vertical;

  /* Common interaction style */
  font-family: "body-font";
  font-size: 1rem;
  --background-color: rgb(223, 243, 255);
  --border: 1px solid rgb(114, 176, 214);
  background-color: var(--background-color);
  border-bottom: var(--border);

  &::placeholder {
    /* Same as border */
    --placeholder-color: rgb(114, 176, 214);
    color: var(--placeholder-color);
  }
}
