@import "./constants.css";

/* TODO clean: extract common style */
.input {
  /* Reset style */
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  border: none;
  font-family: "body-font";

  /** Custom style */
  padding: var(--spacing-lg);
  resize: vertical;

  /* Common interaction style */
  background-color: var(--background-interaction);
  border-bottom: 1px solid var(--border-interaction);

  &::placeholder {
    color: var(--text-interaction);
  }
}
