@import "./constants.css";

/* TODO clean: extract common style */
.main {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* TODO clean: extract label style */
.sm {
  font-size: 0.9rem;
}

.input {
  /* Reset style */
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  border: none;

  /** Custom style */
  padding: 0.2rem;

  /* Common interaction style */
  font-family: "body-font";
  font-size: 1rem;
  background-color: var(--background-interaction);
  border-bottom: 1px solid var(--border-interaction);

  &::placeholder {
    color: var(--text-interaction);
  }
}

.isFullWidth {
  width: 100%;
}
