@import "./constants.css";

/* TODO clean: extract common style */
.input {
  /* Reset style */
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  border: none;

  /* Custom style */
  padding: 0.2rem 0.5rem;
  border: 1px solid transparent;

  /* Common interaction style */
  background-color: var(--background-interaction);
  border-bottom: 1px solid var(--border-interaction);

  &::placeholder {
    color: var(--text-interaction);
  }
}

.md {
  max-width: 1.2rem;
}

.lg {
  max-width: 4rem;
}

/* TODO clean: extract common style */
.isInvalid {
  border-color: var(--border-warning);
}
