.label--is-above {
  margin-bottom: 0.4em;
  /* TODO clean: rework this style */
  font-weight: bold;
}

.label {
  /* TODO clean: extract this to a `Text` component (as a `shouldWrap` prop) */
  white-space: nowrap;
  display: inline-block;
}
