@import "./constants.css";

.main {
  padding: var(--spacing-xl);
  min-height: 100vh;
  margin-left: 150px;
  border-left: 1px solid var(--border-secondary);
}

.md {
  padding-top: 80px;
}

/* Used to handle the height of the full banner on form pages */
.lg {
  padding-top: 180px;
}
