.page {
  /* TODO: extract color */
  --border: 1px solid rgb(208, 208, 208);

  padding: 32px;
  width: 800px;
  min-height: 100vh;
  margin-left: 200px;

  border-left: var(--border);
  border-right: var(--border);
}
