@import "./constants.css";

.main {
  border: 1px solid var(--border-default);
  font-size: var(--text-sm);
  padding: 0.1em 0.3em;
  border-radius: var(--border-radius-md);
  max-width: 100px;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
