.select-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.select-list-tooltip {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.select-list-empty-state {
  align-self: center;
  font-size: 0.9em;
  font-style: italic;
  color: gray;
}
