@import "./constants.css";

.select {
  max-width: 300px !important;
  height: var(--height-field);
}

.field {
  /* Common interaction style */
  background-color: var(--background-interaction);
  border: 1px solid var(--border-interaction);
}

.neutral {
  background-color: var(--background-secondary);
  border: 1px solid var(--border-default);
}
