.select-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.select-list-tooltip {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.select-list-empty-state {
  align-self: center;
  font-size: 0.9em;
  font-style: italic;
  color: gray;
}

.select-list-button {
  border-radius: 4px;
  aspect-ratio: 1;

  /* Common interaction style */
  --background-color: rgb(223, 243, 255);
  --border: 1px solid rgb(114, 176, 214);
  background-color: var(--background-color);
  border: var(--border);
}
