@import "./constants.css";

/* TODO clean: extract common style */
.main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tooltip {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.emptyState {
  align-self: center;
  font-size: var(--text-sm);
  font-style: italic;
  color: var(--text-secondary);
}

.button {
  border-radius: var(--border-radius-md);
  aspect-ratio: 1;
  background-color: var(--background-interaction);
  border: 1px solid var(--border-interaction);
}
