@import "./constants.css";

/* TODO clean: extract common style */
.main {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* TODO clean: extract label style */
.sm {
  font-size: var(--text-sm);
}

.select {
  max-width: 300px !important;

  /* Common interaction style */
  background-color: var(--background-interaction);
  border: 1px solid var(--border-interaction);
}
