/* TODO clean: mutualize style with InputText */
.select-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* TODO clean: extract label style */
.select-container--sm {
  font-size: 0.9rem;
}

.select {
  max-width: 300px !important;

  /* Common interaction style */
  --background-color: rgb(223, 243, 255);
  --border: 1px solid rgb(114, 176, 214);
  background-color: var(--background-color);
  border: var(--border);
}
