@import "./constants.css";

.main {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.xs {
  gap: var(--spacing-xs);
}

.sm {
  gap: var(--spacing-sm);
}

.md {
  gap: var(--spacing-md);
}

.lg {
  gap: var(--spacing-lg);
}

.xl {
  gap: var(--spacing-xl);
}
