.summary {
  font-size: 1rem;
  padding: 3em;
  line-height: 1.5em;
  border-radius: 0.2em;
  background-color: lightgray;
  border: 1px solid black;
  position: relative;
}

.summary-content {
  font-family: body-font;
  white-space: pre-wrap;
  margin: 0;
}

.summary-copy-button {
  position: absolute;
  top: 1em;
  right: 1em;
}
