table {
  --border: 1px solid rgb(0, 0, 0);

  border-spacing: 0;
  border-top: var(--border);
  border-left: var(--border);

  th,
  td {
    margin: 0;
    padding: 0.2rem;
    border-bottom: var(--border);
    border-right: var(--border);
    font-size: 0.9rem;
  }

  .table-cell {
    display: flex;
    justify-content: center;
  }
}
