@import "./constants.css";

.main {
  border-spacing: 0;
  border-top: 1px solid var(--border-default);
  border-left: 1px solid var(--border-default);

  th,
  td {
    margin: 0;
    padding: 0.2rem;
    border-bottom: 1px solid var(--border-default);
    border-right: 1px solid var(--border-default);
    font-size: var(--text-sm);
  }
}

.cell {
  display: flex;
  max-width: 100%;
}

.cell--is-disabled {
  background-color: var(--background-disabled);
}

.cell--center {
  justify-content: center;
}

.footer {
  display: flex;
  font-weight: bold;
}

.footer--left {
  padding-left: 0.5rem;
}

.footer--center {
  justify-content: center;
}
