@import "./constants.css";

.main {
  padding: var(--spacing-lg) var(--spacing-lg);
  line-height: var(--height-sm);
  border-radius: var(--border-radius-md);
  background-color: var(--background-read-only);
  border: 1px solid var(--border-read-only);
  position: relative;
  font-family: body-font;
  white-space: pre-wrap;
  margin: 0;
}
