@import "./constants.css";

.main {
  font-size: 1rem;
  padding: 1.5rem;
  line-height: 1.5em;
  border-radius: 0.2em;
  background-color: var(--background-read-only);
  border: 1px solid var(--border-read-only);
  position: relative;
  font-family: body-font;
  white-space: pre-wrap;
  margin: 0;
}
