@import "./constants.css";

.main {
  margin-top: initial;
  letter-spacing: 0.03rem;
}

.md {
  font-size: var(--title-sm);
  margin-bottom: var(--spacing-md);
}

.lg {
  font-size: var(--title-md);
  margin-bottom: var(--spacing-lg);
}

.xl {
  font-size: var(--title-lg);
  margin-bottom: var(--spacing-xl);
}

.noMarginBottom {
  margin-bottom: 0;
}
