@import "./constants.css";

.main {
  position: relative;
}

.handle {
  display: flex;
  width: fit-content;
}

.content {
  /* Position */
  position: absolute;
  top: 0;
  z-index: var(--z-index-tooltip);

  /* Style */
  font-size: var(--text-sm);
  padding: 0.7rem;
  border-radius: var(--border-radius-md);

  /* TODO clean: have blue and grey variants */
  background-color: var(--background-interaction);
  border: 1px solid var(--border-interaction);
}
