@import "./constants.css";

.main {
  display: inline-flex;
  width: fit-content;
  position: relative;
}

.content {
  /* Position */
  position: absolute;
  top: 0;
  z-index: var(--z-index-tooltip);

  /* Style */
  font-size: var(--text-sm);
  padding: 0.7rem;
  border-radius: var(--border-radius-md);

  /* TODO: add neutral variant */
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
}

.info {
  --background-color: var(--background-interaction);
  --border-color: var(--border-interaction);
}

.error {
  --background-color: var(--background-warning);
  --border-color: var(--border-warning);
}
