.main {
  position: relative;
}

.handle {
  display: flex;
  width: fit-content;
}

.content {
  /* Position */
  position: absolute;
  top: 0;
  z-index: 20;

  /* Style */
  font-size: 0.9em;
  padding: 0.7rem;
  border-radius: 0.2rem;

  /* TODO clean: have blue and grey variants */
  background-color: var(--background-interaction);
  border: 1px solid var(--border-interaction);
}
