@import "./constants.css";

.main {
  border: 1px solid var(--border-warning);
  padding: 0.6rem 1.2rem;
  font-size: var(--text-sm);
  color: var(--text-warning);

  li {
    margin-top: 0.3em;
  }
}
