.cell {
  display: flex;
  font-size: 1rem;
  align-items: center;
}

.cell-sum {
  font-size: 1rem;
  margin-right: 0.3em;
}

.cell-plus {
  margin: 0 0.3em;
}

.cell-parentheses {
  padding: 0 0.2rem;
  display: flex;
  align-items: center;
}

.cell-multi-select {
  display: flex;
  gap: 0.2rem;
}

.cell-multi-select-item {
  border: 1px solid gray;
  font-size: 0.9em;
  padding: 0.1em 0.3em;
  border-radius: 0.2em;
}
