.cell {
  display: flex;
  font-size: 1rem;
  align-items: center;
}

.cell-sum {
  font-size: 1rem;
  margin-right: 0.3em;
}

.cell-number-sum,
.cell-parentheses {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.cell-parentheses {
  padding: 0 0.2rem;
}
