/* Global CSS */

/* CAUTION: this is the only allowed unscoped CSS file (as it handles global style) */
/* For styling individual components, use CSS modules (which are scoped to the component)  */

@font-face {
  font-family: "body-font";
  src: local("Helvetica Neue"), local("Arial"), local(sans-serif);
}

body {
  margin: 0;
  padding: 0;
  font-family: "body-font";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  /* Base font size */
  /* Every other font size should be specified in rem units  */
  font-size: 15px;
}

code {
  font-family: monospace;
}
