.main-list-routes {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* TODO clean: extract paragraph style */
.main-list-presentation {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.form-route {
  display: flex;
  gap: 0.2rem;
}

.form-route-icon {
  width: 2.5rem;
  aspect-ratio: 1;
}
