/* TODO clean: extract paragraph style */
.main-list-presentation {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.main-list-routes {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.main-list-section {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
}

.main-list-section-icon {
  width: 2.5rem;
  aspect-ratio: 1;
}

.main-list-section-label {
  font-size: 1.2rem;
  font-weight: bold;
}
